*{
    padding:0px;
    margin:0px;
}
body {
    margin:0px;
    padding:20vh 10vh;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:Pacifico;
}
p{
  margin-bottom:20px;
  font-size:30px;
  text-shadow:-3px -1px 10px grey,3px 3px 10px #ff0080;
  animation:delay 3s ease-in-out;
}
#login_form{
    display:flex;
    align-items:center;
    justify-content:center ;
    flex-direction:column;
    width:250px;
    height :300px;
    border: transparent ;
    border-radius:50px 25px 50px 25px;
    overflow:hidden ;
    background:linear-gradient(orange,pink);
    box-shadow:-3px 2px 100px rgb(255,153,51);
    animation:expand 2s ease-in-out;
}

@keyframes expand{
    0%{width:0px;height:0px;}
    100%{width:250px; height:300px;
   transition:width 2s,height 4s;
    }
}
input{
  width:120px;
  padding:5px;
  border-radius:25px;
  margin-bottom:20px;
  outline:none;
  border:none;
  overflow:hidden ;
  box-shadow:-3px -1px 10px grey;
  animation:delay 3s ease-in-out;
}
input:hover{
    width:150px;
    transition:width .5s ease-in-out;

}
button{
     line-height:30px;
     border-radius:10px;
     padding:0px 10px;
     outline:none;
     border:none;
     background:linear-gradient(to right,#74ebd5,#ff99cc);
     animation:delay 3s ease-in-out;
     box-shadow:-3px -1px 10px #c06784,3px 1px 10px #86f1fe;
}
span{
    position:absolute;
    font-size:20px;
    border-radius:25px;
    width:40px;
    height:22px;
    border:transparent;
    padding:0px 0px 5px 0px;
    text-align:center;
    opacity:0;
    background:linear-gradient(to right,#0cebeb,#29ffc6);
    box-shadow:-3px 1px 10px #d9a7c7;
    overflow:hidden;
   

}
#notifiername{
    transform:translate(45px,-28px);
    
}
#notifierpasswrd{
    position:static ;
    transform:translate(45px,-47px);

}
/*delays the view of elements inside form tag till it's animation finishes*/
@keyframes delay{
    0%,80%{opacity:0;}
    100%{opacity:1;}
    }
